%h1 Listing teams

.row 
  .col-md-3.d-grid.align-items-start
    = link_to 'New Team', new_team_path, class: 'btn btn-primary', data: { turbo_frame: 'new_team' }

    .mt-3
      = turbo_frame_tag 'new_team'

  .col-md-9
    %table.table.table-stripped.border
      %thead
        %tr
          %th Name
          %th Members

      %tbody.table-group-divider
        - @teams.each do |team|
          %tr
            %td.d-grid 
              = link_to team.name, team
            %td= team.members.count
