- if policy(:guild).create?
  .float-end.mb-3 
    = link_to 'New Guild', new_guild_path, class: 'btn btn-success'

%h1 Listing guilds

%table.table.table-striped.border
  %thead
    %tr
      %th Name
      %th Parent Guild
      %th Players
      - if policy(:guild).any?
        %th

  %tbody
    - @guilds.each do |guild|
      %tr
        %td.d-grid= link_to guild.name, guild
        %td= guild.parent_guild&.name
        %td= guild.players.count
        - if policy(:guild).any?
          %td.text-end
            .btn-group

