.row 
    .col-md-3 
        .d-grid 
            = link_to edit_user_path(@user), class: 'btn btn-secondary mb-3' do 
                %i.bi.bi-pencil
                Edit
            = link_to users_path, class: 'btn btn-primary mb-3' do 
                %i.bi.bi-arrow-left
                Back
    .col-md-9 
        = render @user