%h1 Editing timer

= turbo_frame_tag @timer do 
    .card.mb-3 
        .card-body
            = render 'form'

= link_to 'Show', @timer, class: 'btn btn-primary'
= link_to 'Back', timers_path, class: 'btn btn-secondary'
