.float-end.mb-3
  = link_to 'New Timer', new_timer_path, class: 'btn btn-success', data: { turbo_frame: 'form' }

%h1 Timers

= turbo_frame_tag 'form'
.row.row-cols-2.g-2
  - @timers.each do |timer|
    .col
      = render timer
