%h1 Listing AOC Mobs

%div
  %table.table.table-stripped.border
    %thead
      %tr
        %th Name
        %th Level Range
        %th

    %tbody
      = render partial: 'ashes_mob_row', collection: @ashes_mobs, cached: true, as: :ashes_mob
  .float-end
    != pagy_bootstrap_nav @pagy