- if policy(:item).create?
  .float-end.mb-3
    = link_to 'New Item', new_item_path, class: 'btn btn-success'

%h1 Listing items

%div{ data: { controller: 'datatables' } }
  %table.table.table-striped.border{ data: { datatables: { target: 'table' } } }
    %thead
      %tr
        %th Name
        %th Modifier
        %th Quantity

    %tbody
      - @items.each do |item|
        %tr
          %td.d-grid= link_to item.name, item
          %td= item.modifier
          %td= item.quantity

